[submodule "vrdavis-backend/third-party/uWebSockets"]
	path = vrdavis-backend/third-party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "vrdavis-backend/third-party/cxxopts"]
	path = vrdavis-backend/third-party/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "vrdavis-backend/third-party/spdlog"]
	path = vrdavis-backend/third-party/spdlog
	url = git@github.com:gabime/spdlog.git
