# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# VSCode IDE
.vscode/

# dependencies
/node_modules
/protobuf/build
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WebAssembly stuff
# ZFP
# wasm_libs/zfp/*
# wasm_libs/zfp-*.tar.gz
# wasm_src/zfp_wrapper/build/*
# wasm_src/zfp_wrapper/post.js
# public/static/js/zfp_wrapper.wasm
